<!DOCTYPE html>
<html lang=" str_replace('_', '-', app()->getLocale()) ">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>My saloon</title>
        
        <link rel="stylesheet" href="./app.css">
        <style>
            
        </style>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" rel="stylesheet" />

        <!-- Styles -->
           <style>
        /* Custom styles */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
    </style>

    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="app.js"></script>
    <script>
        

        window.addEventListener("DOMContentLoaded", ()=>{
            // Get the button and the element to fade in
const fadeInButton = document.querySelectorAll(".fadeInButton");
const getBody = document.querySelector(".main");


const fadeInElement = document.getElementById("fadeInElement");
const fadeOutButton = document.getElementById("fadeOutButton");


// Add event listener to the button
    fadeInButton.forEach(element => {
        element.addEventListener("click", function() {
    // Set opacity to 1 to fade in the element
    fadeInElement.style.opacity = 1;
    fadeInElement.classList.remove('hidden');
    }); 
    });

    fadeOutButton.addEventListener("click", function() {
    // Set opacity to 1 to fade in the element
    fadeInElement.style.opacity = 0;
    getBody.classList.remove('opacity-25')
    fadeInElement.classList.add('hidden')

    })
        })
            
    </script>


    <body class="font-sans antialiased  dark:bg-black dark:text-white/50">
        <div  class="">
        <div class="relative">   
            <div id="fadeInElement" class=" w-full fixed mt-20 hidden md:block z-30 ">
            
                <div class="flex justify-center" >
                    <div class=" bg-white p-8 rounded shadow-md absolute   ">
                        <div class="text-right">
                            <svg id="fadeOutButton" onclick="" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-center text-red-500 cursor-pointer hide-booking-form" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </div>
                        <div id="alert" class="alert"></div>

                        <h2 class="text-2xl text-gray-700 font-bold mb-4">Book Your Appointment</h2>
                        <form action="" id="appointment-form"  method="post" >
                            <div class="md:flex md:space-x-8">
                                <div class="mb-2">
                                    <label for="name" class="block text-gray-700 font-semibold mb-2">Your Name</label>
                                    <input type="text" id="name" name="name" class="dark:text-black w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" placeholder="Enter your name" required>
                                </div>
                                <div class="mb-2">
                                    <label for="email" class="block text-gray-700 font-semibold mb-2">Phone:</label>
                                    <input type="text" id="phone" name="phone" class="dark:text-black w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" placeholder="Enter your phone" required>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="service" class="block text-gray-700 font-semibold mb-2">Select Service</label>
                                <select id="service" name="service" class="dark:text-black  w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
                                    <option value="">Select a service</option>
                                    <option value="haircut">Haircut</option>
                                    <option value="manicure">Manicure</option>
                                    <option value="pedicure">Pedicure</option>
                                    <option value="massage">Massage</option>
                                    <option value="facial">Facial</option>
                                </select>
                            </div>
                           <div class="md:flex justify-between">
                            <div class="mb-2">
                                <label for="date" class="block  dark:text-black text-gray-700 font-semibold mb-2">Preferred Date</label>
                                <input type="date" id="date" name="date" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
                            </div>
                            <div class="mb-2">
                                <label for="time" class="block dark:text-black  text-gray-700 font-semibold mb-2">Preferred Time</label>
                                <input type="time" id="time" name="time" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
                            </div>
                           </div>
                            <div class="mb-2 mt-2 " id="">
                                <button type="submit" name="submit" class="w-full bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-500 transition  duration-300">Book Appointment</button>
                            </div>
                        </form>
                </div>
                </div>
            
        </div>
        </div>
        </div>
   <main>



    <div class="w-full relative h-96 bg-gray-300 bg-[url('images/barber.jpg')] bg-cover bg-center">
    <nav class=" p-4 fixed z-50  bg-red-600 w-full">
        <div class="flex items-center justify-between">
            <!-- Navigation Icon -->
            <div class="flex items-center">
                <button class="transition ease-in-out duration-300  hover:text-gray-200  hover:scale-110 text-white focus:outline-none mr-4">
                    <!-- Your navigation icon here (e.g., hamburger icon) -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
                
            </div>
            <!-- Logo -->
            <!--<div class="flex items-center justify-center flex-1">
                <a href="#" class="text-white text-2xl font-bold"><img src=" 'images/scissors.png " class="h-12 w-12"> </a>
            </div>
            <!-->
            <!-- Contact Us Button -->
            
            <ul class="hidden text-white space-x-3 md:flex home-link">
                <li class="p-4 hover:bg-red-500 ">
                   <a href="#"  class="">
                   Home
                   </a>
                </li>
                <li class="p-4  hover:bg-red-500">
                   <a href="#why-choose-us">
                    why choose Us
                   </a>
                </li>
                <li  class="p-4  hover:bg-red-500">
                    <a href="#services">
                        Services
                    </a>
                </li>
                <li class="p-4   hover:bg-red-500 ">
                    <a href="#contact-us">
                    Contact

                    </a>
                </li>
                <li id="" class="book-online fadeInButton p-4 text-red-600 bg-white hover:text-white book-now transition ease-in-out duration-300 delay-100 hover:-translate-y-1  hover:bg-red-500 hover:scale-110 ">
                  
                        Book Online
                   
                </li>
            </ul>
        </div>
    </nav>
        <!-- Navigation bar -->
       
          <section class="p-4 text-white text-center md:text-left banner-text-header">
                <div class="mt-24">
                    <h1 id="" class="text-4xl font-bold main-header ">Do You need a quick Hair Cut ? </h1>
            <p class="pt-4 banner-text-sub-header ">We offer the full spectrum of professional services in <span class="font-bold text-2xl">Kampala</span></p>
            <div class="mt-12">
                <a type="button" class="bg-red-600 fadeInButton transition  ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-red-500 duration-300 text-white  text-sm font-bold p-4 "> BOOK FREE APPOINTMENT</a>
           
            </div>
                </div>
            
          </section>
           
      </div>
    </div>
        <div class="">
            <div class="">
                <div class="">
                    <!--<header class="grid grid-cols-2 items-center gap-2 py-10 lg:grid-cols-3"> 
                        @if (Route::has('login)
                            <nav class="-mx-3 flex flex-1 justify-end">
                                @auth
                        bg            <a
                                        href=" url('/dashboard "
                                        class="rounded-md px-3 py-2 text-black ring-1 ring-transparent transition hover:text-black/70 focus:outline-none focus-visible:ring-[#FF2D20] dark:text-white dark:hover:text-white/80 dark:focus-visible:ring-white"
                                    >
                                        Dashboard
                                    </a>
                                @else
                                    <a
                                        href=" route('login "
                                        class="rounded-md px-3 py-2 text-black ring-1 ring-transparent transition hover:text-black/70 focus:outline-none focus-visible:ring-[#FF2D20] dark:text-white dark:hover:text-white/80 dark:focus-visible:ring-white"
                                    >
                                        Log in
                                    </a>

                                    @if (Route::has('register)
                                        <a
                                            href=" route('register "
                                            class="rounded-md px-3 py-2 text-black ring-1 ring-transparent transition hover:text-black/70 focus:outline-none focus-visible:ring-[#FF2D20] dark:text-white dark:hover:text-white/80 dark:focus-visible:ring-white"
                                        >
                                            Register
                                        </a>
                                    @endif
                                @endauth
                            </nav>
                        @endif
                    </header>
-->

                    <main class="main">
                        <div class="bg-slate-800 p-8 md:p-24 text-white md:flex md:space-x-12">
                            <div class="transition ease-in-out duration-300  hover:text-gray-400  hover:scale-110  bg-white h-96 md:w-1/2 bg-[url('images/barber2.jpg')]  bg-cover bg-center">
                            </div>
                            <div id="why-choose-us" class="md:w-1/2 md:flex text-center md:items-center p-8 md:p-0 transition ease-in-out duration-300  hover:text-gray-400  hover:scale-110 ">
                                <section>
                                <h2 class="font-bold text-3xl md:p-4">Why Choose Us</h2>
                                <p>
                                Our team of professional stylists is just a click away. With years of experience and expertise, they're dedicated to helping you achieve your desired look effortlessly.
                                </p>
                                <div class="mt-12">
                                    <button class="bg-red-600 transition  ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-red-500 duration-300 text-white  text-sm font-bold p-4 fadeInButton"> BOOK FREE APPOINTMENT</button>
                               
                                </div>
                                </section>
                                
                            </div>
                        </div>
                        <!--appointement--->
                    <section class="">
                    <div id="services" class="bg-slate-800">
                        <h2 class="text-3xl font-bold text-center mb-8 text-white pb-3">Our Services</h2>
                        <div class="flex flex-wrap">
                            <div class="w-full md:w-1/3 px-4 mb-8 transition ease-in-out duration-300  hover:text-gray-400  hover:scale-110  ">
                            <div class="bg-white rounded-lg shadow-lg p-6 ">
                                <div class="text-center mb-4">
                                <div class="w-32 h-32 bg-gray-300 mx-auto rounded-full mb-4">
                                <img class="w-32 h-32 rounded-full object-cover" src="https://images.pexels.com/photos/7697394/pexels-photo-7697394.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

                                </div>
                                <h3 class="text-xl font-semibold">Haircut and Styling</h3>
                                </div>
                                <p class="text-gray-700 text-center">We trim, cut and  restyle your hair to achieve the desired look. Please book now and get 50% discount off</p>
                            </div>
                            </div>
                            <div class="w-full md:w-1/3 px-4 mb-8 transition ease-in-out duration-300  hover:text-gray-400  hover:scale-110 ">
                            <div class="bg-white rounded-lg shadow-lg p-6">
                                <div class="text-center mb-4">
                                <div class="w-32 h-32 bg-gray-300 mx-auto rounded-full mb-4 bg-[url('/img/hero-pattern.svg')]">
                                    <img class="w-32 h-32 rounded-full object-cover" src="images/pedicure.jpg" alt="">
                                </div>
                                <h3 class="text-xl font-semibold">Pedicure & Manicure</h3>
                                </div>
                                <p class="text-gray-700 text-center">Lets  focus on enhancing the appearance and health of your nails and surrounding skin. Please Book Now and we shall Reach in Minutes</p>
                            </div>
                            </div>
                            <div class="w-full md:w-1/3 px-4 mb-8 transition ease-in-out duration-300  hover:text-gray-400  hover:scale-110 ">
                            <div class="bg-white rounded-lg shadow-lg p-6">
                                <div class="text-center mb-4">
                                <div class="w-32 h-32 bg-gray-300 mx-auto rounded-full mb-4">
                                <img class="w-32 h-32 rounded-full object-cover" src="images/manicure.jpg" alt="">

                                </div>
                                <h3 class="text-xl font-semibold">Facial Treatments</h3>
                                </div>
                                <p class="text-gray-700">We have a professional team responsible for facial treatments aiming to improve the overall health and appearance of your skin </p>
                            </div>
                            </div>
                        </div>
                        </div>

                    </section>


                    <section class="py-20 team-section bg-slate-800">
        <div class="container mx-auto px-4">
            <h2 class="text-4xl font-bold  mb-10 text-center text-white">Our Team</h2>
            <div class="flex flex-wrap -mx-4">
                <!-- Team Member Card 1 -->
                <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8 transition ease-in-out duration-300  hover:text-gray-400 hover:-skew-y-3 hover:scale-75">
                    <div class="bg-white rounded-lg overflow-hidden shadow-md  ">
                        <img src="images/barberim1.jpg" alt="Team Member" class="w-full">
                        <div class="p-6 text-center">
                            <h3 class="text-xl font-bold mb-2">Nails Technician</h3>
                            <p class="text-gray-700">Position: Marketing Manager</p>
                            <p class="text-gray-700">Experience: 8 years</p>
                        </div>
                    </div>
                    <div class="text-center fadeInButton">
                        <button class="bg-red-600 transition -mt-10  ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-red-500 duration-300 text-white  text-sm font-bold p-4" href="#">
                            BOOK FREE APPOINTMENT
            </button>
                    </div>
                </div>
                <!-- Team Member Card 2 -->
                <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8 transition ease-in-out duration-300  hover:text-gray-400  hover:scale-110">
                    <div class="bg-white rounded-lg overflow-hidden shadow-md">
                        <img src="images/barberim2.jpg" alt="Team Member" class="w-full">
                        <div class="p-6 text-center">
                            <h3 class="text-xl font-bold mb-2">Jane Smith</h3>
                            <p class="text-gray-700">Position: Scissor Master</p>
                            <p class="text-gray-700">Experience: 7 years</p>
                        </div>
                    </div>
                    <div class="text-center fadeInButton">
                        <button class="bg-red-600 transition -mt-10  ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-red-500 duration-300 text-white  text-sm font-bold p-4" href="#">
                            BOOK FREE APPOINTMENT
            </button>
                    </div>
                </div>
                <!-- Team Member Card 3 -->
                <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8 transition ease-in-out duration-300  hover:text-gray-400 hover:-skew-y-3 hover:scale-75">
                    <div class="bg-white rounded-lg overflow-hidden shadow-md  ">
                        <img src="images/barberim3.jpg" alt="Team Member" class="w-full">
                        <div class="p-6 text-center">
                            <h3 class="text-xl font-bold mb-2">Nails Technician</h3>
                            <p class="text-gray-700">Position: Marketing Manager</p>
                            <p class="text-gray-700">Experience: 8 years</p>
                        </div>
                    </div>
                    <div class="text-center fadeInButton
                    ">
                        <button class="bg-red-600 transition -mt-10  ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-red-500 duration-300 text-white  text-sm font-bold p-4" href="#">
                            BOOK FREE APPOINTMENT
            </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-20 bg-slate-800">
        <div class="container mx-auto px-4">
            <h2 class="text-4xl font-bold text-center mb-10 text-white">Customer Reviews</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                <!-- Review Card 1 -->
                <div class="bg-white rounded-lg overflow-hidden shadow-md p-6  transition ease-in-out duration-300  hover:text-gray-400  hover:scale-110">
                    <div class="flex items-center mb-4">
                    <div class="w-16 h-16 bg-gray-300 mx-2 rounded-full mb-4 bg-[url('/img/hero-pattern.svg')]">
                                    <img class="w-16 h-16 rounded-full object-cover" src="https://lh3.googleusercontent.com/a/ACg8ocKEk52PA6iU_4dPpA5jnf9MUC8Zz77Q3IQyCMbv8rRDFZY=s360-c-no" alt="">
                                </div>
                        <div>
                            <h3 class="text-lg font-semibold">Mutebi Nuhu</h3>
                            <div class="flex items-center mt-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500 mr-1"
                                    viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M10 1.462l1.718 4.686H18.75a.75.75 0 01.75.75v1.332a.75.75 0 01-.222.53l-4.098 3.375 1.545 5.513a.75.75 0 01-.78.98l-4.94-.914-1.93 4.545a.75.75 0 01-1.387-.002L6.3 16.282l-4.938.914a.75.75 0 01-.779-.98l1.545-5.513L1.472 7.76a.75.75 0 01-.222-.53V6.898a.75.75 0 01.75-.75h5.032L10 1.462zM10 0l1.718 4.686L16.768 6.75l-4.098 3.375 1.545 5.513L10 13.138l-4.215 2.5 1.545-5.513-4.098-3.375L3.23 4.686 5.948 0h8.104z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="text-gray-600">4.5</span>
                            </div>
                        </div>
                    </div>
                    <p class="text-gray-700">
                        recently had a fantastic experience with MySaloon! The convenience of having the salon come to me was a game-changer, especially with my busy schedule. The stylist was professional, friendly, and clearly passionate about her work. She took the time to understand my hair needs and delivered stunning results. I felt pampered and relaxed throughout the entire appointment. I'll definitely be a repeat customer!
                    </p>
                </div>
                <!-- Review Card 2 -->
                <div class="bg-white rounded-lg overflow-hidden shadow-md p-6  transition ease-in-out duration-300  hover:text-gray-400  hover:scale-110">
                    <div class="flex items-center mb-4">
                    <div class="w-16 h-16 bg-gray-300 mx-2 rounded-full mb-4 bg-[url('/img/hero-pattern.svg')]">
                                    <img class="w-16 h-16 rounded-full object-cover" src="https://media.licdn.com/dms/image/D4D03AQGQZUsMKSfLcA/profile-displayphoto-shrink_400_400/0/1684170105538?e=1718841600&v=beta&t=liEM6P6zUyudsY9f-1N9zdxSQsrxhMQpUA6bRCR_TV8" alt="">
                                </div>
                        <div>
                            <h3 class="text-lg font-semibold">Matovu Lucas Robert</h3>
                            <div class="flex items-center mt-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500 mr-1"
                                    viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M10 1.462l1.718 4.686H18.75a.75.75 0 01.75.75v1.332a.75.75 0 01-.222.53l-4.098 3.375 1.545 5.513a.75.75 0 01-.78.98l-4.94-.914-1.93 4.545a.75.75 0 01-1.387-.002L6.3 16.282l-4.938.914a.75.75 0 01-.779-.98l1.545-5.513L1.472 7.76a.75.75 0 01-.222-.53V6.898a.75.75 0 01.75-.75h5.032L10 1.462zM10 0l1.718 4.686L16.768 6.75l-4.098 3.375 1.545 5.513L10 13.138l-4.215 2.5 1.545-5.513-4.098-3.375L3.23 4.686 5.948 0h8.104z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="text-gray-600">4.0</span>
                            </div>
                        </div>
                    </div>
                    <p class="text-gray-700">
                        I had the pleasure of experiencing MySaloon's services, and I couldn't be happier! The stylist was not only skilled but also personable, making the whole experience enjoyable. It's amazing how they can bring the salon experience to you, complete with all the amenities. Plus, being able to multitask while getting my hair done was a game-changer. I'll definitely be booking again and recommending to all my friends!
                    </p>
                </div>
                <!-- Review Card 3 -->
                <div class="bg-white rounded-lg overflow-hidden shadow-md p-6  transition ease-in-out duration-300  hover:text-gray-400  hover:scale-110">
                    <div class="flex items-center mb-4">
                    <div class="w-16 h-16 bg-gray-300 mx-2 rounded-full mb-4 bg-[url('/img/hero-pattern.svg')]">
                                    <img class="w-16 h-16 rounded-full object-cover" src="https://img.freepik.com/free-photo/close-up-shot-charismatic-friendly-looking-happy-nice-dark-skinned-girl-with-pierced-nose-perfect-smile-standing-delighted-cute-white-wall-sweater-enjoying-family-holiday-dinner_176420-35297.jpg?w=826&t=st=1713537250~exp=1713537850~hmac=0c5f6094bea57412e7dcc16546046fd275d12ed5ee828c816652c248d899c3ab" alt="">
                                </div>
                        <div>
                            <h3 class="text-lg font-semibold">Sharon Banks</h3>
                            <div class="flex items-center mt-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500 mr-1"
                                    viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M10 1.462l1.718 4.686H18.75a.75.75 0 01.75.75v1.332a.75.75 0 01-.222.53l-4.098 3.375 1.545 5.513a.75.75 0 01-.78.98l-4.94-.914-1.93 4.545a.75.75 0 01-1.387-.002L6.3 16.282l-4.938.914a.75.75 0 01-.779-.98l1.545-5.513L1.472 7.76a.75.75 0 01-.222-.53V6.898a.75.75 0 01.75-.75h5.032L10 1.462zM10 0l1.718 4.686L16.768 6.75l-4.098 3.375 1.545 5.513L10 13.138l-4.215 2.5 1.545-5.513-4.098-3.375L3.23 4.686 5.948 0h8.104z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="text-gray-600">4.2</span>
                            </div>
                        </div>
                    </div>
                    <p class="text-gray-700">
                        I was hesitant to try a mobile salon at first, but I'm so glad I did, especially with MySaloon! From scheduling to the actual appointment, everything was seamless. The stylist arrived with all the necessary equipment and products, and she transformed my hair beautifully. It was so convenient not having to leave my house, and the results were just as good as any traditional salon. I'm hooked!    
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--contact us-->
    <section id="contact-us" class="bg-slate-800 py-10 ">
    <h2 class="text-4xl font-bold text-center mb-10 text-white">Contact Us</h2>
    <div class="md:flex justify-between  items-center">
    <div class="md:w-full">
    
                            <div class="md:flex text-center text-gray-100 md:items-center md:p-4 ">
                                <section>
                                <p>
                                Have questions, or ready to book your appointment? Reach out to us today using the form below. We can't wait to hear from you and embark on this beauty journey together!
                                </p>
                               
                                </section>
                                
                            </div>
    </div>
    <div class="md:w-1/3 mt-8 mx-4 md:mt-0 md:mx-6 ">
        <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-md">
            <form>
                <div class="mb-4">
                    <label for="name" class="block text-sm font-medium text-gray-700">Name </label>
                    <input type="text" id="name" name="name" class="mt-1 p-3 dark:bg-black bg-gray-300 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                
                <div class="mb-4">
                    <label for="phone" class="block text-sm font-medium text-gray-700">Phone Number</label>
                    <input type="tel" id="phone" name="phone" autocomplete="tel" class="mt-1 focus:ring-indigo-500   dark:bg-gray-300 p-3 bg-gray-300 dark:text-black focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                <div class="mb-4">
                    <label for="message" class="block text-sm font-medium text-gray-700">Message</label>
                    <textarea type="" id="message" name="email" autocomplete="message" class="mt-1 focus:ring-indigo-500   dark:bg-gray-300 p-3 bg-gray-300 dark:text-black focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"></textarea>
                </div>
                <div class="text-center">
                <div class="mt-12">
                                </div>
                    <button type="submit" class="bg-red-600 transition ease-in-out duration-300 hover:bg-red-500 hover:-translate-y-1 hover:scale-110 text-white  text-sm font-bold p-4 inline-flex justify-center py-3 px-6 w-full border border-transparent shadow-sm text-sm font-medium  text-white bg-indigo-600 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</section>
    <!--contact us-->
                    
                    </main>
                  
                       

                    <footer class=" py-12 border-b bg-zinc-900	text-white">
        <div class="container mx-auto flex flex-col md:flex-row  justify-between items-center px-4">
            <div class="mb-4 md:mb-0">
                <h3 class="text-2xl font-semibold">My Saloon</h3>
                <p class="mt-2">Kampala , Uganda</p>
                <p class="mt-1">Phone: +25675-----</p>
                <p class="mt-1">Email: Email@email.com</p>
            </div>
            <div>
                <ul class="flex space-x-4">
                    <li><a href="#" class="hover:text-gray-400">Home</a></li>
                    <li><a href="#why-choose-us" class="hover:text-gray-400">Why choose Us</a></li>
                    <li><a href="#contact-us" class="hover:text-gray-400">Contact Us</a></li>
                    <li class="book-online fadeInButton"><a href="#" class="hover:text-gray-400">Book Now</a></li>
                </ul>
            </div>
        </div>
    </footer>
                </div>
            </div>
        <p class=" text-center bg-zinc-900	 p-1  text-white">All right reserved copyright @2024 |My Saloon</p>

       

    </main>
    </body>

</html>